dataset.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="brth_yr"/>
                    <xs:element type="xs:string" name="gndr"/>
                    <xs:element type="xs:string" name="ethcty"/>
                    <xs:element type="xs:string" name="nm"/>
                    <xs:element type="xs:short" name="cnt"/>
                    <xs:element type="xs:byte" name="rnk"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="_id" use="optional"/>
                  <xs:attribute type="xs:string" name="_uuid" use="optional"/>
                  <xs:attribute type="xs:byte" name="_position" use="optional"/>
                  <xs:attribute type="xs:string" name="_address" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
